In [99]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob

In [100]:
citibike_2019_03 = pd.read_csv("../Homework/Resources/JC-201903-citibike-tripdata.csv")
citibike_2019_02 = pd.read_csv("../Homework/Resources/JC-201902-citibike-tripdata.csv")
citibike_2019_01 = pd.read_csv("../Homework/Resources/JC-201901-citibike-tripdata.csv")
citibike_2018_12 = pd.read_csv("../Homework/Resources/JC-201812-citibike-tripdata.csv")
citibike_2018_11 = pd.read_csv("../Homework/Resources/JC-201811-citibike-tripdata.csv")
citibike_2018_10 = pd.read_csv("../Homework/Resources/JC-201810-citibike-tripdata.csv")
citibike_2018_09 = pd.read_csv("../Homework/Resources/JC-201809-citibike-tripdata.csv")
citibike_2018_08 = pd.read_csv("../Homework/Resources/JC-201808-citibike-tripdata.csv")
citibike_2018_07 = pd.read_csv("../Homework/Resources/JC-201807-citibike-tripdata.csv")
citibike_2018_06 = pd.read_csv("../Homework/Resources/JC-201806-citibike-tripdata.csv")
citibike_2018_05 = pd.read_csv("../Homework/Resources/JC-201805-citibike-tripdata.csv")
citibike_2018_04 = pd.read_csv("../Homework/Resources/JC-201804-citibike-tripdata.csv")
citibike_2018_03 = pd.read_csv("../Homework/Resources/JC-201803-citibike-tripdata.csv")
citibike_2018_02 = pd.read_csv("../Homework/Resources/JC-201802-citibike-tripdata.csv")
citibike_2018_01 = pd.read_csv("../Homework/Resources/JC-201801-citibike-tripdata.csv")
citibike_2017_12 = pd.read_csv("../Homework/Resources/JC-201712-citibike-tripdata.csv")
citibike_2017_11 = pd.read_csv("../Homework/Resources/JC-201711-citibike-tripdata.csv")
citibike_2017_10 = pd.read_csv("../Homework/Resources/JC-201710-citibike-tripdata.csv")
citibike_2017_09 = pd.read_csv("../Homework/Resources/JC-201709-citibike-tripdata.csv")
citibike_2017_08 = pd.read_csv("../Homework/Resources/JC-201708 citibike-tripdata.csv")
citibike_2017_07 = pd.read_csv("../Homework/Resources/JC-201707-citibike-tripdata.csv")
citibike_2017_06 = pd.read_csv("../Homework/Resources/JC-201706-citibike-tripdata.csv")
citibike_2017_05 = pd.read_csv("../Homework/Resources/JC-201705-citibike-tripdata.csv")
citibike_2017_04 = pd.read_csv("../Homework/Resources/JC-201704-citibike-tripdata.csv")
citibike_2017_03 = pd.read_csv("../Homework/Resources/JC-201703-citibike-tripdata.csv")
citibike_2017_02 = pd.read_csv("../Homework/Resources/JC-201702-citibike-tripdata.csv")
citibike_2017_01 = pd.read_csv("../Homework/Resources/JC-201701-citibike-tripdata.csv")
citibike_2016_12 = pd.read_csv("../Homework/Resources/JC-201612-citibike-tripdata.csv")
citibike_2016_11 = pd.read_csv("../Homework/Resources/JC-201611-citibike-tripdata.csv")
citibike_2016_10 = pd.read_csv("../Homework/Resources/JC-201610-citibike-tripdata.csv")
citibike_2016_09 = pd.read_csv("../Homework/Resources/JC-201609-citibike-tripdata.csv")
citibike_2016_08 = pd.read_csv("../Homework/Resources/JC-201608-citibike-tripdata.csv")
citibike_2016_07 = pd.read_csv("../Homework/Resources/JC-201607-citibike-tripdata.csv")
citibike_2016_06 = pd.read_csv("../Homework/Resources/JC-201606-citibike-tripdata.csv")
citibike_2016_05 = pd.read_csv("../Homework/Resources/JC-201605-citibike-tripdata.csv")
citibike_2016_04 = pd.read_csv("../Homework/Resources/JC-201604-citibike-tripdata.csv")
citibike_2016_03 = pd.read_csv("../Homework/Resources/JC-20163-citibike-tripdata.csv")
citibike_2016_02 = pd.read_csv("../Homework/Resources/JC-20162-citibike-tripdata.csv")
citibike_2016_01 = pd.read_csv("../Homework/Resources/JC-20161-citibike-tripdata.csv")

In [101]:
citibike_2019_03.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1

In [102]:
citibike_2017_01.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [103]:
citibike_data_16_19 = pd.concat([citibike_2019_03, citibike_2019_02, citibike_2019_01, citibike_2018_12, citibike_2018_11, citibike_2018_10, citibike_2018_09, citibike_2018_08, citibike_2018_07, citibike_2018_06, citibike_2018_05, citibike_2018_04, citibike_2018_03, citibike_2018_02, citibike_2018_01, citibike_2017_12, citibike_2017_11, citibike_2017_10, citibike_2017_09, citibike_2017_08, citibike_2017_07, citibike_2017_06, citibike_2017_05, citibike_2017_04])
citibike_data_16_19.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989.0,1
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966.0,1
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971.0,2
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985.0,1
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971.0,1

In [104]:
newstart = citibike_data_16_19["starttime"].str.split(" ", n = 1, expand = True)
citibike_data_16_19["Start Date"]= newstart[0] 
citibike_data_16_19["Start Time"]= newstart[1]
citibike_data_16_19.drop(columns =["starttime"], inplace = True) 

newstop = citibike_data_16_19["stoptime"].str.split(" ", n = 1, expand = True)
citibike_data_16_19["Stop Date"]= newstop[0] 
citibike_data_16_19["Stop Time"]= newstop[1]
citibike_data_16_19.drop(columns =["stoptime"], inplace = True)

In [105]:
citibike_data_16_19.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Start Date,Start Time,Stop Date,Stop Time
0,306,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989.0,1,2019-03-01,06:47:08.2110,2019-03-01,06:52:14.7150
1,123,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966.0,1,2019-03-01,07:30:53.0220,2019-03-01,07:32:56.7770
2,328,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971.0,2,2019-03-01,08:18:30.4030,2019-03-01,08:23:59.0590
3,95,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985.0,1,2019-03-01,11:04:47.2020,2019-03-01,11:06:22.8130
4,169,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971.0,1,2019-03-01,11:51:29.4170,2019-03-01,11:54:19.2120

In [106]:
newdate = citibike_data_16_19["Start Date"].str.split("-", n = 2, expand = True)
citibike_data_16_19["Year"]= newdate[0] 
citibike_data_16_19["Month"]= newdate[1]
citibike_data_16_19["Day"]= newdate[2]

In [107]:
citibike_data_16_19.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Start Date,Start Time,Stop Date,Stop Time,Year,Month,Day
0,306,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989.0,1,2019-03-01,06:47:08.2110,2019-03-01,06:52:14.7150,2019,03,01
1,123,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966.0,1,2019-03-01,07:30:53.0220,2019-03-01,07:32:56.7770,2019,03,01
2,328,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971.0,2,2019-03-01,08:18:30.4030,2019-03-01,08:23:59.0590,2019,03,01
3,95,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985.0,1,2019-03-01,11:04:47.2020,2019-03-01,11:06:22.8130,2019,03,01
4,169,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971.0,1,2019-03-01,11:51:29.4170,2019-03-01,11:54:19.2120,2019,03,01

In [86]:
#newtimestart = citibike_data_16_19["Start Time"].str.split(".", n = 1, expand = True)
#citibike_data_16_19["Start Time hr/sec"]= newstart[0] 
#citibike_data_16_19.drop(columns =["Start Time"], inplace = True) 

#newtimestop = citibike_data_16_19["Stop Time"].str.split(".", n = 1, expand = True)
#citibike_data_16_19["Stop Time hr/sec"]= newstart[0] 
#citibike_data_16_19.drop(columns =["Stop Time"], inplace = True)

In [87]:
#citibike_data_16_19.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Start Date,Stop Date,Year,Month,Day,Start Time hr/sec,Stop Time hr/sec
0,306,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989.0,1,2019-03-01,2019-03-01,2019,03,01,2019-03-01,2019-03-01
1,123,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966.0,1,2019-03-01,2019-03-01,2019,03,01,2019-03-01,2019-03-01
2,328,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971.0,2,2019-03-01,2019-03-01,2019,03,01,2019-03-01,2019-03-01
3,95,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985.0,1,2019-03-01,2019-03-01,2019,03,01,2019-03-01,2019-03-01
4,169,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971.0,1,2019-03-01,2019-03-01,2019,03,01,2019-03-01,2019-03-01

In [67]:
#citibike_data_16_19['Duration'] = (int(citibike_data_16_19['stoptime']) - int(citibike_data_16_19['starttime'])

SyntaxError: unexpected EOF while parsing (<ipython-input-67-2ad17bcef856>, line 1)

In [109]:
citibike_data_16_19.to_csv('../Homework/dataset_totciti.csv')